name: flotter
description: Flotter is a plugin allowing you to use Lottie AnimationViews inside of Flutter, natively, using PlatformViews.
version: 0.2.1
author: Bastien LE CORRE <bastien.lecorre@gmail.com>
homepage: https://github.com/aroblast/flotter

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: com.example.flotter
    pluginClass: FlotterPlugin